body{
    background-color: rgb(152, 216, 211);
}
h1{
    font-size: 40px;
    color: black;
    text-align: center;
}
p{
    font-size: 20px;
    color: rgb(2, 2, 20);
    text-align: justify;
}
#imagem1{
border: 200px;
color: black;
}
ol{
    font-size: 15px;
}
.itens{
    background-color: rgb(240, 236, 243);
}
ul{
    display: inline-block;

}
